body{
    margin: 0px;
    background-color: black;
    color: gold;
    font-family: 'Jacquard 12';
    image-rendering: pixelated;
}

header{
    text-align: center;
    border: double gold 5px;  
}

button {
        font-size: 15px;
        background-color: black;
        border: double gold 8px;
        color: gold;
        font-family: 'Jacquard 12';
        padding: .5em;
        margin: .5em;
    }

.town{
    background-image: url(assets/Backgrounds/townbg.png);

    gap: 1em;
    flex-wrap: wrap;
}

.dungeon{
    background-image: url(assets/Backgrounds/dungeonbg.png);
    
    img{
        width: 30dvw;
    }

    p{
        font-size:50px;
    }
}

.dungeon,.town{
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 60dvh;
    padding: 1em;
}

.monster-stats{
    display: flex;
    justify-content: space-around;
}


.hero{
    border: double gold 5px;   
    background-color: black;
    display: flex;
    justify-content: center;
    gap: 1em;
    align-items: center;
    font-size: 20px;
    position: sticky;
    bottom: 0px;
    padding: 1em;

    img{
        min-width: 10dvw;
    }
}

.hero-stats{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.card{
    background-color: gray;
    border: double gold 5px;
    padding: 1em;
    width: 30dvw;
    min-height: 10dvh;
    max-height: 20dvh;

    
}